.SingleBranch {
  padding: 0 8px;
  height: 28px;
  margin: 5px 0;
  line-height: 28px;

  .Expand,
  .Checkbox {
    display: inline-block;
    width: 13px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
  }

  .Expand {
    border: 0 none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
  }

  .Text {
    font-size: 14px;
  }

  &:hover {
    background: #e8e8e8;
    border-radius: 4px;
  }
}
