.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  $radius: 50px;
  $lineWidth: 3px;

  width: $radius;
  height: $radius;
  box-shadow: inset 0 0 0 $lineWidth #bfbfbf;
  border-radius: 50%;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: calc(#{$radius} / 2);

    width: calc(#{$radius} / 2 - #{$lineWidth});
    height: calc(#{$radius} - #{$lineWidth} * 2);

    border-top: $lineWidth solid #363b44;
    border-right: $lineWidth solid #363b44;
    border-bottom: $lineWidth solid #363b44;
    border-radius: 0 200px 200px 0;

    transform-origin: 0 calc(#{$radius} / 2);
    animation: loading 2s infinite linear;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
