.StatusViewer {
  width: calc(100% - 321px);
  height: 100%;
  margin-left: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  float: left;
  text-align: left;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: hidden;
}