.App {
  text-align: center;
  
  .Header {
    height: 36px;
    line-height: 36px;
    padding: 10px 0;
    background: #001529;
    color: #ffffff;
  }

  .Content {
    width: 80%;
    height: 500px;
    min-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 0 2px 10px #e8e8e8;
    clear: both;
  }
}
